---
- name: Create EC2 Instance
  ec2_instance:
    key_name: "{{ key_name }}"
    image_id: "{{ image }}"
    instance_type: "{{ instance_type }}"
    region: "{{ region }}"
    vpc_subnet_id: "{{ vpc_subnet_id }}"
    security_group: "{{ sec_group }}"
    name: "{{ instance_name }}"
    
- name: debug 
  command: sleep 5m
  register: host_info
